body{
    background:#d5adad center center fixed;
}
.logo{
    width: 100px;
    height: 100px;
}
.titulo{
   font-family: Georgia, serif;
font-size: 42px;
color: rgb(117,61,198);
font-weight: normal;
margin-left:12px;
}
.logti{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
    padding: 0.75em;
    display: flex;
    justify-content: space-evenly;
}

#rock,#tijeras,#papel{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
    border-radius: 11px;
    font-family: Georgia, serif;
    text-decoration: none;
    background-image: linear-gradient(rgb(24, 240, 240) 0%, rgb(82, 137, 173) 100%, rgb(20, 78, 117) 100%);
    border: 2px solid rgb(28, 110, 164);
}
.piedrafoto,.papelfoto,.tijerasfoto{
    border: 5px;
    border-color: rgb(117,61,198);
    border-style: solid;
    border-radius: 1rem;
}
.tableroyresultado{
text-align: center;
}

.marcador{
    font-size: 24px;
    text-align: center;
}
.marcadorc{
    color:red;
}
.marcadord{
    color:grey;
}
.marcadorp{
    color: blue;
}
img{
    width: 100px;
    height: 100px;
}
.fotos{
    display: flex;
    justify-content: space-evenly;

}
.footer{
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.imgmano{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
.elec{
    display:flex;
    justify-content: space-evenly;
    color: white;
    font-family: Georgia, serif;
    padding: 1em;
}
.borderfoto{
    width:100px;
}
